{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    <nav class="navbar" style="background-color: #e3f2fd;">
        <h1>Formulir Registrasi</h1>  
        <h5 style="
        font-size: 30px;
        font-family: 'Brush Script MT', cursive;
        font-weight: 600;
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;">Nama: Alvin Xavier Rakha Wardhana</h5>
    </nav>

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><button type="submit" class="btn btn-info">Daftar</button></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}